@{
    ViewData["Title"] = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link  href="~/css/Menu.css" rel="stylesheet" type="text/css" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="~/css/dron.jpg" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
         <a href="@Url.Action("Reserva", "Mantenedor" )" type="button">Reserva</a>
         <a href="@Url.Action("Bitacora", "Mantenedor" )" type="button">Bitacora</a>
         <a href="@Url.Action("Inventario", "Mantenedor" )" type="button">Inventario</a>
  </form>
    </div>
</div>





